.main{
    margin: 3rem;
    margin-left: 6rem;
    margin-right:96px;
display: flex;
flex-wrap: wrap;
gap: 2rem;
}
button{display: block;
background-color: black;
color: aliceblue;
padding: 1rem ;
/* margin: 6rem;
m
margin-top: 2rem; */
margin: auto;
}
button:hover{
cursor: pointer;
background-color: green;
}